 
{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
<head>

    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'Zblog/main.css' %}">

    {% if title %}
        <title>XIblog - {{ title }}</title>
    {% else %}
        <title>XIblog</title>
    {% endif %}
</head>
<body style="max-width: 50%; margin-left:25%;">    
    <div class="content-section" style="max-width: 50%; margin: 20% 20% 20% 22%;">

        {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                {{ message }}
              </div>
            {% endfor %}
        {% endif %}
        
        <form method="POST">
            {% csrf_token %}           
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">PASSWORD RESET</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info ml-40" type="submit"> Submit </button>
            </div>
        </form>
    </div>
</body>
<html>